<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Registration</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form action="/Register" method="POST">
        <h2>Registration Form</h2><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="phone">Name:</label><br>
        <input type="text" id="phone" name="phone" required><br><br>

        <input type="submit" value="register"><br>
    </form>
</body>
</html>
