*{
    margin: 0;
    padding: 0;
    background-color: white;
}

body{
align-items: center;
margin-top: 200px;
display: flex;
justify-content: center;
}

form{
    border: 2px solid black;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0);
    justify-content: center;
    transition: 0.3s;

}
input[type="submit"]{
    width: 100%;
    background-color: green;
}
input[type="text"]{
    width: 100%;
    
}
input[type="email"]{
    width: 100%;
}